

body{
  position: relative;
  padding: 0;
  margin: 0;
  width: 100v;
  height: 100%;
  background-attachment: fixed;

}
/* header section */

.navbar {
      position: fixed;
      top:0;
      background-color: #FFFBF5;
      opacity: .6;
      overflow: hidden;
      width: 100%;
      height: 4rem;
      display: flex;
      justify-content: space-around;
      padding: 1rem;
      z-index: 30;
      color: #000;
    }
  .navbar:hover {
    opacity: .9;
  }

    .Links{
      margin:auto;
      position: absolute;
      display: flex;
      right: 0;
      width: 30%;
      margin-bottom: .5rem;
    }

    /* CSS for the navigation bar links */
    .navbar a {
      margin-top:1vh;
    padding:3% 3% 3% 3%;
    text-decoration:none;
    color:rgb(15, 2, 2);
    font-family:'Lobster Two';
    font-size:1.5vw;
    box-shadow:10px 15px 50px black;

    }

     .navbar a:hover{
      background-color:#1d9550;
    box-shadow:none;
     }
    /* CSS for the search bar */


    .search-bar {
      position: absolute;
      background-color:#1d9550;
        margin:1rem auto ;
      display: flex;
      border: none;
      font-size: 14px;
      border-radius: 30px;
      overflow: hidden;
      height: 40px;
      color:white;
      opacity:1;
      width: 20%;
    }
   
    .search-icon{
      background-color:#1d9550;
      overflow: hidden;
      margin-right: 0;
      text-align: center;


    }
    .fa-search {
      color:white;
  font-size: 22px;
  font-weight: bolder;
  width:30px;
  height: 25px;
  object-fit: cover;
  margin-top: 8px;
  padding: 3px;
}
    .search-icon img{

      width:30px;
      height: 25px;
      object-fit: cover;
      margin-top: 8px;
      padding: 2px;
    }

    .search-bar input{
      width:100%;
      height: 42px;
      padding: 8px;
      background-color:#C9D6DF;
      font-weight: bold;
      border: none;
      color: black;

    }
    

    /* CSS for the logos */
    .logos {
      position:absolute;
      left:5rem;
      width: 15%;
      height: 70%;
    }

    .logos img {
      width: 100%;
      height: 100%;
    }







/* slider section */
.image-slider{

  border-radius: 10px;
  width:100vw;
  height: 40rem;
  position:relative;
  padding-top: 2rem;
  display: flex;
  overflow: hidden;

}

.slider{
  border-radius: 20px;
  width:100%;
  height:100%;
  margin-right:-100%;
}
.Active{
    
    /* margin-right:0; */
}

.image{
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: fill;
  /* padding-top: 30px; */
    border-radius: 20px;
}
.info{
   /* background-color: rgba(100, 0, 0, 0.1); */
  position: absolute;
  top:0;
  padding: 16px;
  color:white;

}
.info-Active{
  z-index: 1;
}

.dot-filed{
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.dot{
  background-color: rgba(255,255,255,.9);
  width:12px;
  height: 12px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.ActiveBtn{
  background-color: #79E0EE;
}
.dot:hover{
  background-color: rgba(0, 0, 0, 0.5);
}


/* main section */

main{
  position: relative;
   top:13rem;
   padding: 1rem 10rem;

}

.card-Container{
background-color: "red";
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-around;;
 overflow: hidden;

}

.card{
  padding: .5rem;
  background-color: #E76161;
  width:25rem;
  height: 35rem;
  margin: 20px 0 2px 10px;
  border-radius: 20px;

}
.card-img{
  width:10rem;
  height: 15rem;
  background-color: white;
  width: 100%;
  height: 25rem;
  border-radius: 20px;
  margin: 0;

}
.card-text{
  padding: .5rem;
  text-align: center;
  margin: 0;

}
.card-text h1{
  margin: 0;
  font-weight: bold;
  color: white;
}
.card-text p{
  margin: 0;
  padding: .5rem;
  font-weight: bold;
}

.card-img img{
  height: 100%;
  width:100%;
  object-fit:fill;
  border-radius: 20px;
}

/*  ad cards part */
.ad-card-container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-top: 4rem;
  margin-bottom: 3rem;

}
.more{
  margin-top: 2rem;
  padding-top: 3rem;
  text-align: left;
}
.ad-card{
  background-color: #E76161;
  width:36rem;
  height:16rem;
  border-radius: 1rem;
  padding: 0.3rem;
}
.ad-card img{
  height: 100%;
  width:100%;
  object-fit:fill;
  border-radius: 1rem;
}

/* footer part */
footer {
  position: absolute;
left: 0;
bottom: -20rem;
width: 100%;
overflow: hidden;
background-color: #E76161;
height: 5rem;
text-align: center;
padding: 1rem;
}

.footer-icons a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
  padding: 1rem;
}

.footer-icons a:hover {
  color: #000;
}
.trademark {
  font-size: 16px;
  margin-left: 5px;
}
 .copyright {
   color: white;
  font-size: 14px;
  margin-top: 1rem;
  display: block;
  padding: 0.5rem;
}


/* css for phonespage */
.card-Container a{
  text-decoration: none;
  padding: 0;
  
}
.card-Container a p{
   color: #000;
}
.phonepage{
  position: relative;
   top:8rem;
   padding: 1rem 10rem;
}
.phonepage h1{
  font-size: 2.5rem;
  padding-left: 1rem;
}
.product-card {
  
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: 15rem;
  height: 24rem;
  display: inline-block;
}


.imgBox{
    width: 100%;
    height: 85%;
    border:  solid 2px #E76161;
    border-radius: 4px;
}

.imgBox img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.textBox{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  padding: 1px;

}
.textBox h3{
   
}
.textBox p{
  padding-top: 3px;
  font-weight: bolder;

}


/* css for detail page */
#productDetail{
  width: 100v;
  display: flex;
  padding: 0 15%;
  
}


#proImage{
  margin-right: 6rem;
  border-radius: 8px;
  border:solid 2px #E76161;
  height: 30rem;
}
#proImage img{
  width:20rem;
  height: 30rem;
  border-radius: 8px;
  object-fit: fill;

}

#proDetailText{
  
  width: 50%;
  height: 30rem;
}
#proDetailText pre{
  font-size: larger;
}

