

body{
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

}
/* header section */

.navbar {
      position: absolute;
      top:0;
      background-color: #E76161;
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 10px;
    }

    .Links{
      margin-top: 10px;
      margin-right: 70px;
      position: relative;

      left: 0;
      float: right;
    }

    /* CSS for the navigation bar links */
    .navbar a {

      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      font-size: 20px;
      font-weight: bolder;

    }

     .navbar a:hover{
       cursor: pointer;
       color:#0C134F;
       border-radius: 10px;
     }
    /* CSS for the search bar */


    .search-bar {
      background-color: white;
        margin: 10px;
      display: flex;
      border: none;
      font-size: 14px;
      border-radius: 30px;
      overflow: hidden;
      height: 40px;
    }
    .search-icon{
     background-color: rgba(255, 0, 0, 0.1);
      overflow: hidden;
      margin-right: 0;
      text-align: center;


    }
    .fa-search {
      color:black;
  font-size: 22px;
  font-weight: bolder;
  width:30px;
  height: 25px;
  object-fit: cover;
  margin-top: 8px;
  padding: 3px;
}
    .search-icon img{

      width:30px;
      height: 25px;
      object-fit: cover;
      margin-top: 8px;
      padding: 2px;
    }

    .search-bar input{
      width:260px;
      height: 42px;
      padding: 8px;
      background-color: rgba(255, 0, 0, 0.1);
      font-weight: bold;
      border: none;

    }
    .search-bar button {
      padding: 6px 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      font-size: 14px;
      cursor: pointer;
    }

    /* CSS for the logos */
    .logos {
      float: left;
      margin-left: 40px;
      /* background-color: white; */
    }

    .logos img {
      width: 140px;
      height: 50px;

    }







/* slider section */
.image-slider{

  border-radius: 10px;
  width:80%;
  height: 400px;
  position:relative;
  top:8rem;
  left:11.5%;


}

.slider{
  border-radius: 20px;
  width:100%;
  height:100%;
  position: absolute;
  clip-path:circle(0.1 at 0 50%);
  top:0;
}
.Active{
    z-index: 1;
    clip-path:circle(150% at 0 50%);
      transition: 2s;
    transition-property: clip-path;


}

.image{
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: fill;
  /* padding-top: 30px; */
    border-radius: 20px;
}
.info{
   /* background-color: rgba(100, 0, 0, 0.1); */
  position: absolute;
  top:0;
  padding: 16px;
  color:white;

}
.info-Active{
  z-index: 1;
}

.dot-filed{
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.dot{
  background-color: rgba(255,255,255,.9);
  width:12px;
  height: 12px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.ActiveBtn{
  background-color: #79E0EE;
}
.dot:hover{
  background-color: rgba(0, 0, 0, 0.5);
}


/* main section */

main{
  position: relative;
   top:13rem;
   padding: 1rem 10rem;

}

.card-Container{
background-color: "red";
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-around;;
 overflow: hidden;

}

.card{
  padding: .5rem;
  background-color: #E76161;
  width:25rem;
  height: 35rem;
  margin: 20px 0 2px 10px;
  border-radius: 20px;

}
.card-img{
  width:10rem;
  height: 15rem;
  background-color: white;
  width: 100%;
  height: 25rem;
  border-radius: 20px;
  margin: 0;

}
.card-text{
  padding: .5rem;
  text-align: center;
  margin: 0;

}
.card-text h1{
  margin: 0;
  font-weight: bold;
  color: white;
}
.card-text p{
  margin: 0;
  padding: .5rem;
  font-weight: bold;
}

.card-img img{
  height: 100%;
  width:100%;
  object-fit:fill;
  border-radius: 20px;
}

/*  ad cards part */
.ad-card-container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-top: 4rem;
  margin-bottom: 3rem;

}
.more{
  margin-top: 2rem;
  padding-top: 3rem;
  text-align: left;
}
.ad-card{
  background-color: #E76161;
  width:36rem;
  height:16rem;
  border-radius: 1rem;
  padding: 0.3rem;
}
.ad-card img{
  height: 100%;
  width:100%;
  object-fit:fill;
  border-radius: 1rem;
}

/* footer part */
footer {
  position: absolute;
left: 0;
bottom: -20rem;
width: 100%;
background-color: #E76161;
height: 5rem;
text-align: center;
padding: 1rem;
}

.footer-icons a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
  padding: 1rem;
}

.footer-icons a:hover {
  color: #000;
}
.trademark {
  font-size: 16px;
  margin-left: 5px;
}
 .copyright {
   color: white;
  font-size: 14px;
  margin-top: 1rem;
  display: block;
  padding: 0.5rem;
}
